services:
  postgres:
    image: postgres
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres:/var/lib/postgresql
    ports:
      - 5432:5432

volumes:
  postgres:
    driver: local
