services:
  postgres:
    image: postgres
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres:/var/lib/postgresql
    ports:
      - 5432:5432
    networks:
      - local

  app:
    image: fs:${GIT_COMMIT_HASH}
    environment:
      PORT: 3000
      DATABASE_URL: postgres://postgres:postgres@postgres:5432/postgres
      JWT_SECRET: secret
    ports:
      - "3000:3000"
    networks:
      - local
    depends_on:
      - postgres
  migrate:
    image: fs:${GIT_COMMIT_HASH}
    command: bun run migrate:up
    restart: no
    environment:
      DATABASE_URL: postgres://postgres:postgres@postgres:5432/postgres
    depends_on:
      - postgres
    networks:
      - local

networks:
  local:
volumes:
  postgres:
    driver: local
